<h1>All Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li ><% if task.completed %>
      <i class="fa-solid fa-circle-check"></i>
    <% else %>
      <i class="fa-regular fa-circle"></i>
    <% end %>
    <%= link_to "#{task.title}", task_path(task) %> </li>
  <% end %>
</ul>

<%= link_to "Create New Task", new_task_path %>
